h1 {
  padding-left: 10px;
  padding-bottom: 5px;
  animation-name: slidein;
  animation-duration: 3s;
}

@keyframes slidein {
  from {
    margin-left: 90%;
    width: 90%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
