.my-container {
  width: 600px;
  min-width: 600px;
  margin: auto;
}

header {
  font-size: 35px;
  margin-left: 23px;
}

#start {
  margin-top: 10px;
}

#egg-first img {
  height: 20px;
  width: 30px;
  margin-top: 20px;
  margin-left: 5px;
}

#game {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 560px;
  width: 600px;
  margin: auto;
  height: 510px;
  position: relative;
}

#wolf {
  height: 200px;
  position: absolute;
  top: 250px;
  left: 150px;
}

.branch {
  position: absolute;
  width: 180px;
}

#branch-LU {
  top: 137px;
}

#branch-LB {
  top: 230px;
}

#branch-RU {
  top: 157px;
  margin-left: 385px;
}

#branch-RB {
  top: 280px;
  margin-left: 385px;
}

#branch-L-Broken {
  top: 400px;
  width: 50px;
  margin-left: 120px;
}

#branch-R-Broken {
  top: 400px;
  width: 50px;
  margin-left: 320px;
}

footer {
  font-size: 20px;
  margin: auto;
}