.my-container {
  width: 550px;
  min-width: 550px;
  margin: auto;
}

header {
  font-size: 35px;
  margin-left: 23px;
}

#start {
  margin-top: 10px;
}



#game {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 560px;
  width: 550px;
  margin: auto;
  height: 510px;
  position: relative;
}

#wolf {
  height: 200px;
  position: absolute;
  top: 250px;
  left: 155px;
}

.branch {
  position: absolute;
  width: 180px;
}

#branch-LU {
  top: 137px;
}

#branch-LB {
  top: 230px;
}

#branch-RU {
  top: 150px;
  margin-left: 370px;
}

#branch-RB {
  top: 225px;
  margin-left: 370px;
}

.egg {
  width: 20px;
  position: absolute;
}

.egg-left   { left:  10px; }
.egg-right  { left: 530px; }
.egg-topL   { top:  136px; }
.egg-topR   { top:  155px; }
.egg-bottom { top:  230px; }

footer {
  font-size: 20px;
  margin: auto;
  font-family: avenir;
  background-color: grey;
}
 p {
  color: white;
 }

span {
  margin-right: 50px;
  padding-left: 2px;

}
